<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="style.css">
</head>
<body>


<p class="parageraf">معمولا کسانی که به کار پرورش مرغ مینا می پردازند، با سوالات زیادی از جمله نحوه حرف زدن مرغ مینا، قهر کردن مرغ مینا، دستی کردن مرغ مینا، نحوه جفت کردن آنها و … رو به رو می شوند که در این مقاله سعی داریم به مهم ترین سوالات این پرنده پاسخ دهیم.</p>
<div class="box">
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>
<section class="green "> </section>

</div>

<div class="tag">
    <div class="headerTag">
<h3 class="matnTag">Enter tag...</h3>
<div class="subtag">
    <img class="imgTag" src="Vector (1).png" alt="">
    <h3 class="sub1Tag">tag</h3>
</div>
<img class="imgTag2" src="Vector (1).png" alt="">
</div>
<section class="exampleTag"><span class="matnTag2">Take a note...</span></section>

</div>
<div class="editCard">
    <div>
<input class="copy" type="button" value="">
<img class="copy imgCopy" src="Group (1).png" alt="">
</div>
<div>

<input class="trash" type="button" value="">
<img class="trash trashImg" src="Vector11 (1).png" alt="">
</div>
<div>

<input class="color" type="button" value="">
<img class="color colorImg" src="Rectangle 13.png" alt="">
</div>
<div>

<input class="home" type="button" value="">
<img class="home homeImg" src="Vector (3).png" alt="">
</div>
</div>
</body>
</html>