* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#9AA683;
  color: #333;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem
}

.container {
  padding: 1.5rem 10rem;
}

h1 {
  font-size: 3rem;
  margin: 1.25rem 0;
}

h2 {
  font-size: 2rem;
}

hr {
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
}

#highlight-btn {
  width: 2rem;
  height: 2rem;
  color: rgb(11, 244, 26);
  background-color: white;
  cursor: pointer;
  border: 0.5px solid rgb(11, 244, 26);
  border-radius: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  transition: color 0.2s, background-color 0.2s ease-in-out;
}

.btnEntrance {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {

  /* zoomIn */
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

@media(max-width: 992px) {
  .container {
    padding: 1.25rem 6rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}

@media(max-width:768px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 1rem 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  hr {
    margin: 1.5rem 0;
  }
}

@media(max-width:400rem) {
  .box {
    display: none;
    position: fixed;
    justify-content: space-between;
    width: 12rem;
    height: 13rem;
    border-radius: 1rem;
    background-color: #E3E8D9;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .colorbox {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    grid-template-rows: 3.5rem 3.5rem;
    text-align: center;
    margin: auto auto;
  }

  .hr {
    width: 12rem;
    height: .05rem;
    background-color: #000000;
    margin: 1rem 0rem;
  }

  .editbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .size {
    width: 2rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin: 1.5rem .2rem;
  }

  .red {
    border-radius: 1rem;
    background-color: #DE2020;
  }

  .yellow {
    border-radius: 1rem;
    background-color: #EEE73C;
  }


  .blue {
    border-radius: 1rem;
    background-color: #2A09F3;
  }


  .gray {
    border-radius: 1rem;
    background-color: #9B9B9A;
  }


  .green {
    border-radius: 1rem;
    background-color: #177737;
  }


  .black {
    border-radius: 1rem;
    background-color: #000000;
  }


  .white {
    border-radius: 1rem;
    background-color: #F5F5F5;
  }

  .orange {
    border-radius: 1rem;
    background-color: #F37B0D;
  }
}

.bib {
  margin: 1rem 1rem;
}

.tag {
  display: none;
  position: absolute;
  width: 30rem;
  height: 8.528rem;
  top: 43.6rem;
  left: 43.9rem;
  background-color: #00938B;
  margin: 1rem 1rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.matnTag {
  color: aliceblue;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: 0em;
  text-align: left;
  margin: .5rem 1rem;
}

.subtag {
  width: 5.861rem;
  height: 2.507rem;
  top: 44.201rem;
  left: 61.137rem;
  border-radius: .5rem;
  background-color: #E3E8D9;
  margin: .5rem 1rem;
}

.headerTag {
  display: flex;
  justify-content: space-between;
}

.imgTag {
  color: #000000;
  width: .8rem;
  height: .8rem;
  margin: .7rem 1rem;

}

.imgTag2 {
  color: #000000;
  width: 1.084rem;
  height: 1.414rem;
  margin: .7rem 1rem;
}

.sub1Tag {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0em;
  text-align: center;
  margin: -3rem 2rem;
}

.exampleTag {
  width: 30rem;
  height: 5.212rem;
  border-radius: 1rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #E3E8D9;
  font-size: 2rem;
  resize: none;

}

.matnTag2 {
  font-family: sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: .1em;
  margin: .5rem 1rem;

}

.editCard {
  display: none;
  position: absolute;
  justify-content: space-between;
  width: 18.9rem;
  height: 5.1rem;
  top: 62.1rem;
  left: 88rem;
  border-radius: 1rem;
  background-color: #E3E8D9;
}

.eddit {
  display: flex;
}

.back {
  background-color: #E3E8D9;
}

.copy {
  width: 3rem;
  height: 3rem;
  padding: .525rem .7rem .525rem .7rem;
  border: none;
  background-color: none;
  position: absolute;
}

.trash {
  width: 2rem;
  height: 2rem;
  border: .117rem;

}

.trashImg {
  width: 2rem;
  height: 2.5rem;
  position: absolute;

}

.color {
  width: 3.2rem;
  height: 2.8rem;
  border-radius: 1rem;
  border: none;
  background-color: #E3E8D9;
}

.colorImg {
  position: absolute;
  margin: 1rem -4rem;
}

.home {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: #E3E8D9;
}

.imgCopy {
  position: absolute;

}

.homeImg {
  position: absolute;
  margin: 1rem -4rem;
}

.size2 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border: none;
  border-radius: .5rem;


}

.size3 {
  width: 2.44rem;
  height: 3.1355rem;
  flex-shrink: 0;

}

.plus {
  margin: .5rem .1rem;
  position: absolute;
}

.headerPanel {
  width: 40rem;
  height: 4rem;
  background-color: #00938B;
}

.btnpanel {
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: #9AA683;
  position: absolute;
  margin: .75rem 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnpanel img {
  margin: 0.3rem;
}

.boxText {
  width: 37rem;
  top: 16.3rem;
  left: 17.3rem;
  border-radius: 1.0rem;
  background-color: #E3E8D9;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.save {
  width: 2rem;
  height: 2rem;
  top: 17.803rem;
  left: 61539rem;
  margin: 1.0rem 34.0rem;
}

.text {
  width: 41.549rem;
  height: 2rem;
  font-size: 3.0rem;
  margin-right: 3rem;
  resize: none;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: #E3E8D9;
}

.line {
  width: 1rem;
  height: 11.1248rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(81, 19, 19, 0.94);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.textLine {
  display: flex;
  flex-direction: row;
  width:100%;
  overflow: hidden;
  
}

.textLine p{
	padding: 0.8rem;
	direction: rtl;
	margin:0;
	width:100%;
	word-wrap: break-word;
}

.footer {
  width: 37rem;
  flex-shrink: 0;
  border-radius: 0rem 0rem 1rem 1rem;
  background: #00938B;
}

.boxfooter {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.size4 {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}